@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");

body {
  background: url(assets/background.png) no-repeat top;
  color: #fbfbfb;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  padding: 60px 150px 60px 150px;
  border-bottom: 1.1px solid hsla(0, 0%, 77%, 0.5);
}

.logo-container, 
.misc-container {
  flex: 1;
}

.nav-container, 
.misc-container {
  text-align: right;
}

.logo {
  vertical-align: middle;
}

.active {
  opacity: 1 !important;
  color: #fbfbfb !important;
}

/* NAVIGATION BAR (MIDDLE)*/
.nav-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.nav-item {
  display: inline-block;
  margin: 0 83px 0 0;
}

.nav-item:last-child {
  margin: 0;
}

.nav-item a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.2s;
}

.nav-item a:hover {
  opacity: 0.75;
}

/* MISC BAR (RIGHT) */
.search-icon {
  cursor: pointer;
  margin: 0 60px 0 0;
  vertical-align: middle;
}

.lang {
  display: inline-block;
  vertical-align: middle;
}

.lang a {
  display: inline-block;
  color: inherit;
  font-weight: bolder;
  font-size: 16px;
  text-decoration: none;
  margin: 0 33px 0 0;
  transition: opacity 0.2s;
  opacity: 0.5;
}

.lang a:last-child {
  margin: 0;
}

.lang a:hover {
  opacity: 1;
}

/* MAIN BODY OF CONTENT */
.content {
  display: flex;
  justify-content: space-between;
  margin: 140px 220px 0 220px;
}

.content .text h6 {
  font-size: 18px;
  font-weight: 100;
  margin: 0 0 16px 0;
}

.content .text h1 {
  font-size: 60px;
  font-weight: inherit;
  margin: 0;
}

.content .text h2 {
  font-size: 60px;
  font-weight: lighter;
  margin: 0;
}

.content .text p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 27px;
}

/* SOCIAL ICONS */
.social-icons {
  display: inline-block;
  list-style: none;
  margin: 0;
}

.social-icons li {
  margin: 0 0 33px 0;
  text-align: center;
}

.social-icons li a {
  transition: opacity 0.2s;
}

.social-icons li a:hover {
  opacity: 0.75;
}

.social-icon {
  width: 20px;
  height: 20px;
}